html {
    background: #000;
}

body {

	margin: 0px;
	padding: 0px;
	width:100%;
	height:100%;
	background:#000;1
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  /* some CSS here */
}

/* #### Mobile Phones Landscape #### */
@media screen and (orientation:landscape) {
  
  
#errorCase {
	
	width:100%;
	height:100%;
	background-color:black;
	opacity:1;
	position:absolute;
	z-index:100000;
	
}

#errorLandscape{
	  
	  background-image:url(../images/rotate.png);
	  width:290px;
	  height:166px;
	  position:relative;
	  z-index:10000;
	  margin:0 auto;
	  
}

}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
  /* some CSS here */
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
  /* some CSS here */
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  /* some CSS here */
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){

  #main{
	  
	  background-image:url()!important;
	  
  }
  
}

#main {

    /*background-image: url(../images/bg2x.jpg);*/
    background-color:#e1f3f3;
    background-repeat: no-repeat;
    background-size: 360px 640px;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    overflow: hidden;

}

#gameArea{

    height: 480px;
    margin: -240px auto 0;
    position: relative;
    top: 50%;
    width: 320px;
    border: 1px solid red;
}

#gameAreaResults{

    height: 480px;
    margin: -481px auto 0;
    position: relative;
    top: 50%;
    width: 320px;

}

#main.source-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

}

.canvas-container{
	
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
/* - - - Pre Loader - - - */

#preloader{

	background-color:#fff;
	width:100%;
	height:100%;
	position:absolute;
	z-index:9999;
	
}

	#preloaderClip{
	
		background: url("../images/PageLoaderTree.gif") no-repeat scroll 0 0 / 80px 135px rgba(0, 0, 0, 0);
	    height: 140px;
	    left: 50%;
	    margin-left: -40px;
	    margin-top: -70px;
	    opacity: 0;
	    position: relative;
	    top: 50%;
	    width: 80px;
	    
	}
	
@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
	#preloaderClip {
		/* Reference the @2x Sprite */
		background: url("../images/PageLoaderTree@2x.gif") no-repeat scroll 0px 0 / 114px 61px rgba(0, 0, 0, 0);
		/* Translate the @2x sprite's dimensions back to 1x */
	}
	
	#goldStar0,#goldStar1,#goldStar2,#goldStar3,#goldStar4,#goldStar5{
	
		background: url("../images/mainSprite@2x.png") no-repeat scroll 0 -5px / 403px 280px rgba(0, 0, 0, 0);

	}
	
	#greyStar0,#greyStar1,#greyStar2,#greyStar3,#greyStar4,#greyStar5{
		
		background: url("../images/mainSprite@2x.png") no-repeat scroll -61px -5px / 403px 280px rgba(0, 0, 0, 0);

	}
	
	#Star0,#Star1,#Star2,#Star3,#Star4,#Star5{
	
		 background: url("../images/mainSprite@2x.png") no-repeat scroll 0px -0px / 403px 280px rgba(0, 0, 0, 0);
	     position: absolute;
	     z-index: 11;

	}
	#resultsScreen #resultsCircle{
	
		background: url("../images/mainSprite@2x.png") no-repeat scroll -155px 0px / 403px 280px rgba(0, 0, 0, 0);

	
	}
	
	#resultsScreen #resultsWon{
	
		background: url("../images/mainSprite@2x.png") no-repeat scroll -3px -52px / 403px 280px rgba(0, 0, 0, 0);

	
	}
	
	#resultsScreen #resultsLost{
		
		background: url("../images/mainSprite@2x.png") no-repeat scroll -3px -96px / 403px 280px rgba(0, 0, 0, 0);

	    
	}
	
	#resultsScreen #resultsBottom{
	
		background: url("../images/mainSprite@2x.png") no-repeat scroll -40px -250px / 403px 280px rgba(0, 0, 0, 0);


	}
	
}

/* - - - Game Items - - - */

#timer{

	background-color: #FFFFFF;
    height: 14px;
    left: 50%;
    margin: 0 auto 0 -150px;
    position: absolute;
    top: 10px;
    width: 300px;
    
}

	#timerInside{
		
		background-color: #e63d40;
	    height: 12px;
	    left: 1px;
	    position: relative;
	    top: 1px;
	    width: 298px;
	    
	}

/* - - - Navigation Items - - - */

#gameNavigation{

	width:100%;
	height:100%;
	z-index: 6;
}

#gameInstructionBg{

	background-color: #000000;
    height: 100%;
    margin: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    display:none;
    z-index: 6;
    
}

#resultsScreen{

	background-color: #c8e2f1;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6;

}
	#greyContainer{
	
		height: 50px;
	    margin: 0 auto;
	    position: relative;
	    top: 65px;
	    width: 318px;
	    z-index: 6;	
	
	}

	#greyStar0,#greyStar1,#greyStar2,#greyStar3,#greyStar4,#greyStar5{
		
		background: url("../images/mainSprite.png") no-repeat scroll -61px -5px / 403px 280px rgba(0, 0, 0, 0);
	    float: left;
	    height: 40px;
	    left: 16px;
	    position: relative;
	    width: 49px;
	    z-index: 6;

	}
	
	#starContainer{
	
		height: 50px;
	    margin: 0 auto;
	    position: relative;
	    top: 15px;
	    width: 318px;
	    z-index: 7;
	
	}

	#goldStar0,#goldStar1,#goldStar2,#goldStar3,#goldStar4,#goldStar5{
		
		background: url("../images/mainSprite.png") no-repeat scroll 0 -5px / 403px 280px rgba(0, 0, 0, 0);
	    display: none;
	    float: left;
	    height: 40px;
	    left: 10px;
	    opacity: 0.8;
	    position: relative;
	    width: 49px;

	}
	
	
	#resultsScreen #resultsCircle{
	
		background: url("../images/mainSprite.png") no-repeat scroll -155px 0px / 403px 280px rgba(0, 0, 0, 0);
	    height: 245px;
	    left: 36px;
	    position: absolute;
	    top: 27px;
	    width: 246px;
	    z-index: 5;
	
	}
	
	#resultsScreen #resultsWon{
	
		background: url("../images/mainSprite.png") no-repeat scroll -3px -52px / 403px 280px rgba(0, 0, 0, 0);
	    height: 42px;
	    left: 95px;
	    position: absolute;
	    top: 118px;
	    width: 136px;
	    z-index: 7;
	    display:none;
	
	}
	
	#resultsScreen #resultsLost{
		
		background: url("../images/mainSprite.png") no-repeat scroll -3px -96px / 403px 280px rgba(0, 0, 0, 0);
	    height: 42px;
	    left: 105px;
	    position: absolute;
	    top: 118px;
	    width: 116px;
	    z-index: 7;
	    display:none;
	    
	}
	
	#resultsScreen #resultsBottom{
	
		background: url("../images/mainSprite.png") no-repeat scroll -40px -250px / 403px 280px rgba(0, 0, 0, 0);
	    height: 42px;
	    left: -20px;
	    position: absolute;
	    top: 357px;
	    width: 360px;
	    z-index: 7;

	}
	
	#resultsBottom #bottomWhite{
	
		background-color: #FFFFFF;
	    height: 800px;
	    position: relative;
	    top: 28px;
	    width: 100%;
	
	}
	
	#Star0,#Star1,#Star2,#Star3,#Star4,#Star5{
	
		 background: url("../images/mainSprite.png") no-repeat scroll 0px -0px / 403px 280px rgba(0, 0, 0, 0);
	     position: absolute;
	     z-index: 11;

	}
	
	#Star0{
	
		background-position: -5px -142px;
	    height: 40px;
	    left: 2px;
	    top: -58px;
	    width: 40px;

	}
	
	
	#Star1{
	
		background-position: -39px -142px;
	    height: 40px;
	    top: 301px;
	    width: 40px;

	}
	
	
	#Star2{
	
		background-position: -71px -142px;
		height: 40px;
		left: 57px;
		top: 257px;
		width: 40px;

	}
	
	
	#Star3{
	
		background-position: -5px -181px;
	    height: 40px;
	    top: 175px;
	    width: 40px;

	}
	
	
	#Star4{
	
		background-position: -41px -178px;
	    height: 40px;
	    left: 290px;
	    top: 45px;
	    width: 40px;

	}
	
	
	#Star5{
	
		background-position: -5px -142px;
	    height: 40px;
	    left: 276px;
	    top: 208px;
	    width: 40px;

	}

	
	#resultsScreen #resultsText{

		margin: 0 auto;
	    position: relative;
	    top: 50px;
	    width: 260px;
	    z-index: 6;
    
    }
    
    #resultsScreen #resultsText p{
	    
	    color: #000000;
	    font-family: georgia;
	    font-size: 15px;
	    text-align: center;
    
    }