html {
    background: #000;
}

body {

	margin: 0px;
	padding: 0px;
	width:100%;
	height:100%;
	background:#000;1
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  /* some CSS here */
}

/* #### Mobile Phones Landscape #### */
@media screen and (orientation:landscape) {
  
  
#errorCase {
	
	width:100%;
	height:100%;
	background-color:black;
	opacity:1;
	position:absolute;
	z-index:100000;
	
}

#errorLandscape{
	  
	  background-image:url(../images/rotate.png);
	  width:290px;
	  height:166px;
	  position:relative;
	  z-index:10000;
	  margin:0 auto;
	  
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
  /* some CSS here */
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
  /* some CSS here */
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  /* some CSS here */
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){

  #main{
	  
	  background-image:url()!important;
	  
  }
  
}

#main.source-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

}

.canvas-container{
	
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

#main {

   /*background-image: url(../images/bg2x.jpg);*/
    background-color:#e1f3f3;
    background-repeat: no-repeat;
    background-size: 360px 640px;
    display: block;
    left: 0;
    position: absolute!important;
    top: 0;
    overflow: hidden;

}
/* - - - Pre Loader - - - */

#preloader{

	background-color:#fff;
	width:100%;
	height:100%;
	position:absolute;
	z-index:9999;
	
}

	#preloaderClip{
	
	    height: 140px;
	    left: 50%;
	    margin-left: -40px;
	    margin-top: -70px;
	    opacity: 0;
	    position: relative;
	    top: 50%;
	    width: 80px;
	    
	}

/*media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
		
}*/

/* - - - Game Items - - - */

#timer{

	background-color: #07afa6;
    height: 14px;
    left: 50%;
    margin: 0 auto 0 -150px;
    position: absolute;
    top: 10px;
    width: 300px;
    z-index: 100;
    border-radius:25px;
    
}

	#timerInside{
		
		background-color: #e63d40;
	    height: 10px;
	    left: 2px;
	    position: relative;
	    top: 2px;
	    width: 296px;
	    border-radius:25px;
	    
	}
/* - - - Navigation Items - - - */

#gameNavigation{

	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6;
    
}

#gameArea{

    height: 480px;
    margin: -240px auto 0;
    position: relative;
    top: 50%;
    width: 320px;
    border: 1px solid red;
}

#gameAreaResults{

    height: 480px;
    margin: -240px auto 0;
    position: relative;
    top: 50%;
    width: 320px;

}

#gameInstructionBg{

	background-color: #000000;
    height: 100%;
    margin: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    display:none;
    z-index: 6;
    
}

#resultsScreen{

	background-color: #c8e2f1;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6;

}
#greyContainer{

	height: 50px;
    margin: 0 auto;
    position: relative;
    top: 25px;
    width: 318px;
    z-index: 6;	

}

	#greyStar0,#greyStar1,#greyStar2,#greyStar3,#greyStar4,#greyStar5{
		
	    float: left;
	    height: 40px;
	    left: 16px;
	    position: relative;
	    width: 49px;
	    z-index: 6;

	}
	
	#starContainer{
	
		height: 50px;
	    margin: 0 auto;
	    position: relative;
	    top: -25px;
	    width: 318px;
	    z-index: 7;
	
	}

	#goldStar0,#goldStar1,#goldStar2,#goldStar3,#goldStar4,#goldStar5{
		
	    display: none;
	    float: left;
	    height: 40px;
	    left: 10px;
	    opacity: 0.8;
	    position: relative;
	    width: 49px;

	}
	
		#resultsScreen #robotLose{
			
			display: none;
		    height: 80px;
		    left: 77px;
		    opacity: 0;
		    position: absolute;
		    top: 288px;
		    width: 75px;
		    z-index: 10;
			
		}
		
		#resultsScreen #robotWon{
			
			display: none;
		    height: 68px;
		    left: 93px;
		    opacity: 0;
		    position: absolute;
		    top: 290px;
		    width: 54px;
		    z-index: 10;
			
		}
		
		#resultsScreen #abBody{
			
			display: none;
		    height: 210px;
		    left: 37px;
		    opacity: 0;
		    position: absolute;
		    top: 168px;
		    width: 152px;
		    z-index: 10;
			
		}
		
		#resultsScreen #abLost{
			
			display: none;
		    height: 80px;
		    left: 77px;
		    opacity: 0;
		    position: absolute;
		    top: 288px;
		    width: 75px;
		    z-index: 10;
			
		}
		
		#resultsScreen #abWon{
			
			display: none;
		    height: 90px;
		    left: 73px;
		    opacity: 0;
		    position: absolute;
		    top: 210px;
		    width: 81px;
		    z-index: 10;
			
		}
	
	#resultsScreen #resultsCircle{

	    height: 245px;
	    left: 36px;
	    position: absolute;
	    top: -23px;
	    width: 246px;
	    z-index: 5;
	
	}
	
	#resultsScreen #resultsWon{

	    height: 42px;
	    left: 95px;
	    position: absolute;
	    top: 70px;
	    width: 136px;
	    z-index: 7;
	    opacity:0;
	
	}
	
	#resultsScreen #resultsLost{
	
	    height: 42px;
	    left: 105px;
	    position: absolute;
	    top: 70px;
	    width: 116px;
	    z-index: 7;
	    opacity:0;
	    
	}
	
	#resultsScreen #resultsBottom{
	
		 height: 42px;
		 left: -20px;
		 position: absolute;
		 top: 322px;
		 width: 360px;
		 z-index: 7;

	}
	
	#resultsBottom #bottomWhite{
	
		background-color: #FFFFFF;
	    height: 800px;
	    position: relative;
	    top: 26px;
	    width: 100%;
	
	}
	
	#Star0,#Star1,#Star2,#Star3,#Star4,#Star5{
	
	     position: absolute;
	     z-index: 11;

	}

#Star0{

	background-position: -5px -142px;
    height: 40px;
    left: 2px;
    top: -58px;
    width: 40px;

}

#Star1{

	background-position: -39px -142px;
    height: 40px;
    top: 301px;
    width: 40px;

}

#Star2{

	background-position: -71px -142px;
	height: 40px;
	left: 57px;
	top: 257px;
	width: 40px;

}

#Star3{

	background-position: -5px -181px;
    height: 40px;
    top: 175px;
    width: 40px;

}

#Star4{

	background-position: -41px -178px;
    height: 40px;
    left: 290px;
    top: 45px;
    width: 40px;

}

#Star5{

	background-position: -5px -142px;
    height: 40px;
    left: 276px;
    top: 208px;
    width: 40px;

}
	
	#resultsScreen #resultsText{

		margin: 0 auto;
	    position: relative;
	    top: 20px;
	    width: 260px;
	    z-index: 6;
    
    }
    
    #resultsScreen #resultsText p{
	    
	    color: #000000;
	    font-family: georgia;
	    font-size: 15px;
	    margin: 0;
	    padding: 0;
	    text-align: center;
    
    }